body {
	font-size: 15px;
	color: #343d44;
	font-family: "segoe-ui", "open-sans", tahoma, arial;
	padding: 0;
	margin: 0;
}
table {
	margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
	font-size: 12px;
}

h1 {
	margin: 25px auto 0;
	text-align: center;
	text-transform: uppercase;
}

table td {
	transition: all .5s;
}

/* Table */
.data-table {
	border-collapse: collapse;
	font-size: 14px;
	min-width: 537px;
	box-shadow: 0px 8px 50px 0px rgba(0,0,0,0.2);
}

.data-table th, 
.data-table td {
	border: 1px solid #e1edff;
	padding: 7px 17px;
}
.data-table caption {
	margin: 7px;
}

/* Table Header */
.data-table thead th {
	background-color: #508abb;
	color: #FFFFFF;
	border-color: #6ea1cc !important;
	text-transform: uppercase;
}

/* Table Body */
.data-table tbody td {
	color: #353535;
}

.data-table tbody td a{
	color: #353535;
	text-decoration: unset;
	margin: 0px 5px;
}

.data-table tbody td:first-child,
.data-table tbody td:nth-child(4),
.data-table tbody td:last-child {
	text-align: right;
}

.data-table tbody tr:nth-child(odd) td {
	background-color: #f4fbff;
}

.data-table tbody tr:nth-child(even) td {
	background-color: #eff2f7c7;
}

.data-table tbody tr:hover td {
	background-color: #ffffa2;
	border-color: #ffff0f;
}

/* Table Footer */
.data-table tfoot th {
	background-color: #e5f5ff;
	text-align: right;
}
.data-table tfoot th:first-child {
	text-align: left;
}
.data-table tbody td:empty
{
	background-color: #ffcccc;
}

.btn{
	cursor:pointer;
	padding: 10px;
	height: 50px;
	width: 250px;
	background-color: #2c79c0;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid #135592;
	border-radius: 2px;
	text-align: center;
	margin-top: 50px;
	box-shadow: 0px 8px 50px 0px rgba(0,0,0,0.2);
}

.btn a{
	color: white;
	text-decoration: unset;
}

.capitalize{
	text-transform: capitalize;
}