.container{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	
}

.formcontent{
	width: 40%;
	margin: 100px auto;
	text-align: center;

}

label{
	color: #508abc;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-left: 13px;
}

input[type=text]{
	width: 90%;
	height: 30spx;
	padding: 5px;
	margin-bottom: 25px;
	margin-top: 5px;
	border: 2px solid #ccc;
	border-radius: 2px;
	color: #0d3046;
	font-size: 16px;
}

input[type=submit]{
	cursor:pointer;
	padding: 10px;
	height: 50px;
	background-color: #2c79c0;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid #135592;
	border-radius: 2px;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.main{
	width: 320px;
	padding: 10px 50px 30px;
	border: 2px solid gray;
	font-family: raleway;
	float:left;
	margin-top:15px;
	box-shadow: 0px 8px 50px 0px rgba(0,0,0,0.2);
	border-radius: 4px;
	background-color: #eff2f7c7;
}

textarea{
	width: 90%;
	height: 120px;
	padding: 5px;
	margin-bottom: 25px;
	margin-top: 5px;
	border: 2px solid #ccc;
	color: #0d3046;
	font-size: 16px;
	border-radius: 2px;
}

h3{
	background-color: #508abc;
	padding: 30px 30px;
	margin: -10px -50px;
	text-align:center;
	color: #fff;
}